.login-container{
    background-image: url("../../../assets/fondoCars2.gif");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}
.signout-container{
    background-image: url("../../../assets/fondoCars2.gif");
    height: 140vh;
    background-size: cover;
    background-position: center;
}
.btn-green{
    border: none;
    background: none;
    color: #37ff00;
}
.content-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width: 370px;
    text-align: center;
    padding: 60px 32px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}
.content-signout {
    margin-top: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 370px;
    text-align: start;
    padding: 30px 32px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    color: #fff;
}


.title {
    color: #fff;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Poppins', sans-serif;
}

.login {
    color: #fff;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
}
.signup {
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
