.information{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.information h3{
    color: var(--colorMain);
}

.information__form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    place-items: center;
    margin: 15px 0px;
}

.information__form-label{
    width: 100%;
    margin: 10px 0px;
}   
